{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}flaskApp - Index{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>
            Hello
            {% if name %} {{ name }}
            {% else %}Stranger{% endif %}<br>
            {% if not known %} <p>Pleased to meet you!</p>
            {% else %} <p>Happy to see you again!</p>{% endif %}
            The current date & time is:<br>
            {{ moment(current_time).format('LLL') }}.
        </h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.submit() }}
    </form>
    </div>

{% endblock %}